<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ICLC 2025 Schedule Preview</title>
    <style>
      body {
        max-width: 1280px;
        font-family: Arial;
      }

      td {
        vertical-align: top;
        padding-bottom: 30px;
        padding-right: 40px;
      }

      h3 {
        margin-bottom: 5px;
      }
    </style>
  </head>
  <body>
    <p><em>Last Update: $VERSION</em></p>
    <h1>ICLC 2025 Schedule Preview</h1>
    <p style="max-width:900px;">Overview of all events and activities at ICLC 2025. This schedule will later be published as part of the catalouge on the ICLC website. The schedule is not yet fully finalized &ndash; some changes might still happen.</p>
    <table>
    $CONTENT
    </table>
  </body>
</html>
