<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ICLC 2025 Status</title>
    <style>
      body {
        max-width: 1280px;
        font-family: Arial;
      }

      td {
        vertical-align: top;
        padding-bottom: 20px;
        padding-right: 40px;
      }

      h3 {
        margin-bottom: 5px;
      }
    </style>
  </head>
  <body>
    <p><em>Last Update: $VERSION</em></p>
    <h1>ICLC 2025 Catalogue Status</h1>
    <table>
      <tr><th>Type</th><th>Slug</th><th>Title</th><th>Status</th></tr>
    $CONTENT
    </table>
  </body>
</html>
